{% extends 'recipeApp/base.html' %}

{% block content %}
    <center>
        <h2>Your Favorite Recipes</h2>
        {% if favorite_recipes %}
            <ul>
                {% for recipe in favorite_recipes %}
                    <li>
                        <a href="{% url 'recipe_detail' recipe.recipe_name %}">
                            {{ recipe.recipe_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You haven't favorited any recipes yet.</p>
        {% endif %}
    </center>
{% endblock %}
